# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. Use this dataset to answer the questions below.

In [5]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [6]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [7]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
firstCountry = answer_zero() 
type(firstCountry)
firstCountry

pandas.core.series.Series

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [14]:
import numpy as np

def answer_one():
    maxSG = np.max(df['Gold'])
#     return df[df['Gold'] == maxSG].index.tolist()
    return df.index[df['Gold'] == maxSG]
answer_one()

Index(['United States'], dtype='object')

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [27]:
def answer_two():
    diffG = np.abs(df['Gold'] - df['Gold.1'])
    maxDiffG = np.max(diffG)
    return df[(df['Gold'] - df['Gold.1']) == maxDiffG].index
answer_two()

Index(['United States'], dtype='object')

### Question 3
Which country has the biggest difference between their summer and winter gold medal counts relative to their total gold medal count? Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [19]:
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [32]:
def answer_three():
    dfGold = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
    relDiffG = np.max((dfGold['Gold'] - dfGold['Gold.1'])/dfGold['Gold.2'])
    return dfGold[(dfGold['Gold'] - dfGold['Gold.1'])/dfGold['Gold.2'] == relDiffG].index
answer_three()

Index(['Bulgaria'], dtype='object')

### Question 4
Write a function to update the dataframe to include a new column called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze mdeals for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [33]:
def answer_four():
    df['Points'] = df['Gold.2'] * 3 + df['Silver.2'] * 2 + df['Bronze.2']
    return df['Points']
answer_four()

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, Length: 146, dtype: int64

In [34]:
len(df['Points'])

146

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [2]:
import pandas as pd
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [38]:
census_df.where(census_df['SUMLEV'] == 40).dropna()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40.0,3.0,6.0,1.0,0.0,Alabama,Alabama,4779736.0,4780127.0,4785161.0,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
68,40.0,4.0,9.0,2.0,0.0,Alaska,Alaska,710231.0,710249.0,714021.0,...,-1.173489,-1.946424,-3.915107,-14.438910,-10.407475,0.931274,1.818497,-0.757148,-11.271709,-6.881838
98,40.0,4.0,8.0,4.0,0.0,Arizona,Arizona,6392017.0,6392307.0,6408208.0,...,1.327489,5.245740,3.905473,6.219955,6.776501,3.290378,7.337279,6.123606,8.761352,9.335208
114,40.0,3.0,7.0,5.0,0.0,Arkansas,Arkansas,2915918.0,2915958.0,2922394.0,...,1.365312,-0.432402,-0.442153,-1.060966,-0.407735,2.326251,0.646395,0.682189,0.226168,0.901928
190,40.0,4.0,9.0,6.0,0.0,California,California,37253956.0,37254503.0,37334079.0,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065
249,40.0,4.0,8.0,8.0,0.0,Colorado,Colorado,5029196.0,5029324.0,5048254.0,...,5.232828,5.513416,6.903846,7.375183,10.073656,6.968908,7.698805,9.053163,9.764255,12.537918
314,40.0,1.0,1.0,9.0,0.0,Connecticut,Connecticut,3574097.0,3574118.0,3579717.0,...,-3.724400,-5.311208,-4.730271,-7.567093,-7.687268,0.775510,-1.066084,-0.278693,-2.376831,-2.463243
323,40.0,3.0,5.0,10.0,0.0,Delaware,Delaware,897934.0,897936.0,899791.0,...,2.867721,3.594491,3.169689,5.106051,4.490138,5.332723,6.360496,5.939911,8.245757,7.628452
327,40.0,3.0,5.0,11.0,0.0,District of Columbia,District of Columbia,601723.0,601767.0,605126.0,...,11.560071,10.052444,9.457678,1.480094,5.601833,17.028422,15.972111,15.634120,8.378037,12.434838
329,40.0,3.0,5.0,12.0,0.0,Florida,Florida,18801310.0,18804623.0,18849890.0,...,5.556307,5.138184,4.847420,6.958576,10.080932,11.364173,10.676030,10.565882,13.478570,16.528676
397,40.0,3.0,5.0,13.0,0.0,Georgia,Georgia,9687653.0,9688681.0,9713454.0,...,1.116578,1.820078,-0.607357,2.186504,3.349056,3.389168,4.379947,1.886665,4.999230,6.218396
557,40.0,4.0,9.0,15.0,0.0,Hawaii,Hawaii,1360301.0,1360301.0,1363980.0,...,-0.728610,-2.555878,-1.038764,-3.518530,-4.927311,4.234545,4.258593,5.314474,3.203227,2.175422
563,40.0,4.0,8.0,16.0,0.0,Idaho,Idaho,1567582.0,1567652.0,1570986.0,...,0.070362,-0.160366,3.118843,5.188461,4.182706,0.958442,0.940183,4.259427,6.500203,5.530535
608,40.0,2.0,3.0,17.0,0.0,Illinois,Illinois,12830632.0,12831549.0,12841249.0,...,-5.243330,-5.805172,-5.308960,-7.509147,-8.174675,-3.020410,-3.519051,-2.830379,-4.625216,-5.247030
711,40.0,2.0,3.0,18.0,0.0,Indiana,Indiana,6483802.0,6484229.0,6490590.0,...,-1.293568,-1.960149,-0.116258,-1.140002,-2.251702,0.157756,-0.447027,1.542780,0.760457,-0.349081
804,40.0,2.0,4.0,19.0,0.0,Iowa,Iowa,3046355.0,3046869.0,3050694.0,...,0.132111,-1.394328,0.199064,0.065466,-1.267049,1.714823,0.263105,2.001342,2.127479,0.789299
904,40.0,2.0,4.0,20.0,0.0,Kansas,Kansas,2853118.0,2853132.0,2858824.0,...,-3.136815,-1.761232,-4.259882,-4.723711,-4.482170,-1.377266,0.592752,-2.053656,-2.296651,-1.965206
1010,40.0,3.0,6.0,21.0,0.0,Kentucky,Kentucky,4339367.0,4339349.0,4347937.0,...,0.548428,-1.055248,-0.534781,-0.986254,-1.683921,1.724221,0.511968,0.945888,0.649634,-0.009278
1131,40.0,3.0,7.0,22.0,0.0,Louisiana,Louisiana,4533372.0,4533479.0,4544951.0,...,0.473667,-0.180411,-0.500478,-1.366682,-1.579018,1.949929,1.422368,1.064221,0.376651,0.196358
1196,40.0,1.0,1.0,23.0,0.0,Maine,Maine,1328361.0,1328361.0,1327695.0,...,0.068525,-0.441075,-0.991095,0.485891,-1.291931,0.949565,0.505806,0.004515,1.631420,-0.142879
1213,40.0,3.0,5.0,24.0,0.0,Maryland,Maryland,5773552.0,5773785.0,5788409.0,...,0.077369,-1.425490,-1.539388,-2.536397,-4.129281,4.606029,3.039478,3.113104,2.673241,1.100340
1238,40.0,1.0,1.0,25.0,0.0,Massachusetts,Massachusetts,6547629.0,6547817.0,6565036.0,...,-0.737051,-1.333275,-0.519504,-1.737085,-3.218558,4.566803,4.015802,5.144020,4.735912,3.203502
1253,40.0,2.0,3.0,26.0,0.0,Michigan,Michigan,9883640.0,9884129.0,9877369.0,...,-4.364492,-3.383718,-2.913472,-2.906320,-3.922701,-2.544908,-1.400463,-0.763820,-0.458399,-1.482846
1337,40.0,2.0,4.0,27.0,0.0,Minnesota,Minnesota,5303925.0,5303925.0,5310903.0,...,-0.697250,-1.627618,-0.291640,-1.203383,-2.236652,1.661128,0.702797,2.224242,1.638219,0.590314
1425,40.0,3.0,6.0,28.0,0.0,Mississippi,Mississippi,2967297.0,2968103.0,2970316.0,...,-1.943071,-1.897828,-1.598223,-3.010150,-4.086354,-1.323400,-0.966185,-0.795096,-2.147243,-3.160827
1508,40.0,2.0,4.0,29.0,0.0,Missouri,Missouri,5988927.0,5988927.0,5996052.0,...,-2.236429,-2.235616,-1.291223,-1.342305,-1.439638,-0.974961,-0.774839,0.187254,0.313028,0.241367
1624,40.0,4.0,8.0,30.0,0.0,Montana,Montana,989415.0,989417.0,990643.0,...,3.452041,3.567821,5.627961,4.364823,5.124013,4.063591,4.308746,6.292463,5.069555,5.854486
1681,40.0,2.0,4.0,31.0,0.0,Nebraska,Nebraska,1826341.0,1826341.0,1830025.0,...,-0.633372,-0.496978,-0.261994,-1.332523,-1.468576,1.171983,1.694266,1.977842,1.188611,1.084894
1775,40.0,4.0,8.0,32.0,0.0,Nevada,Nevada,2700551.0,2700691.0,2703440.0,...,-2.733178,5.306838,4.846319,8.333086,9.760302,0.016967,7.924449,7.613377,11.517866,12.956601
1793,40.0,1.0,1.0,33.0,0.0,New Hampshire,New Hampshire,1316470.0,1316466.0,1316708.0,...,-1.647026,-0.437922,-1.951549,1.429080,-0.877904,-0.309671,0.937972,-0.509823,3.113946,0.810200
1804,40.0,1.0,2.0,34.0,0.0,New Jersey,New Jersey,8791894.0,8791936.0,8803881.0,...,-5.099617,-5.563775,-5.137475,-6.216888,-7.292230,0.457420,-0.353542,0.470243,0.180654,-0.913121
1826,40.0,4.0,8.0,35.0,0.0,New Mexico,New Mexico,2059179.0,2059192.0,2064741.0,...,0.044413,-3.419154,-5.109690,-6.758128,-6.402799,1.100660,-1.907270,-3.665188,-5.111616,-4.661594
1860,40.0,1.0,2.0,36.0,0.0,New York,New York,19378102.0,19378087.0,19402920.0,...,-4.354557,-5.945385,-5.561401,-8.130297,-7.990563,1.439239,-0.402860,0.407960,-1.334639,-1.205321
1923,40.0,3.0,5.0,37.0,0.0,North Carolina,North Carolina,9535483.0,9535692.0,9558979.0,...,3.182925,3.274557,3.917733,3.470870,3.822913,5.057573,5.699028,6.128788,5.849442,6.331622
2024,40.0,2.0,4.0,38.0,0.0,North Dakota,North Dakota,672591.0,672591.0,674530.0,...,9.034780,16.009040,22.241532,12.479623,13.314923,10.558471,18.470861,24.449274,14.782061,15.675696
2078,40.0,2.0,3.0,39.0,0.0,Ohio,Ohio,11536504.0,11536725.0,11540766.0,...,-3.189870,-3.213719,-1.879172,-1.607649,-2.696806,-1.828451,-1.746963,-0.329701,0.175060,-0.913728
2167,40.0,3.0,7.0,40.0,0.0,Oklahoma,Oklahoma,3751351.0,3751616.0,3759596.0,...,1.694623,2.358401,3.652939,1.110563,2.104750,3.012368,4.092682,5.290256,2.921241,3.970249
2245,40.0,4.0,9.0,41.0,0.0,Oregon,Oregon,3831074.0,3831073.0,3837972.0,...,2.961404,3.354294,2.530063,5.757015,8.705805,4.520870,4.905797,4.255779,7.779997,10.733510
2282,40.0,1.0,2.0,42.0,0.0,Pennsylvania,Pennsylvania,12702379.0,12702887.0,12712014.0,...,-0.523231,-1.371189,-2.420849,-2.640310,-3.251021,1.596325,0.920684,-0.004696,0.170229,-0.442643
2350,40.0,1.0,1.0,44.0,0.0,Rhode Island,Rhode Island,1052567.0,1052931.0,1053219.0,...,-6.146099,-4.882502,-4.796582,-3.096174,-4.445802,-2.356211,-1.111085,-0.913906,1.332218,0.032209
2356,40.0,3.0,5.0,45.0,0.0,South Carolina,South Carolina,4625364.0,4625401.0,4635894.0,...,3.208207,5.604384,6.026867,8.180121,9.373895,4.314492,7.026983,7.202230,9.465643,10.772926
2403,40.0,2.0,4.0,46.0,0.0,South Dakota,South Dakota,814180.0,814191.0,816299.0,...,2.453998,5.233525,5.318171,0.496887,-2.079715,3.999785,7.084127,7.099228,2.460888,-0.098144
2470,40.0,3.0,6.0,47.0,0.0,Tennessee,Tennessee,6346105.0,6346275.0,6356585.0,...,2.463663,4.330055,2.043918,3.611647,3.259031,3.706784,5.771333,3.457334,5.222361,4.908398
2566,40.0,3.0,7.0,48.0,0.0,Texas,Texas,25145561.0,25146105.0,25244363.0,...,4.527491,5.484904,4.446476,6.072953,6.248252,7.616364,8.660719,7.739851,9.780487,9.978697
2821,40.0,4.0,8.0,49.0,0.0,Utah,Utah,2763885.0,2763888.0,2775426.0,...,-0.329765,-0.029968,2.107281,-0.104306,3.132103,1.428861,1.773733,4.026022,2.069019,5.300638
2851,40.0,1.0,1.0,50.0,0.0,Vermont,Vermont,625741.0,625745.0,625984.0,...,-0.705692,-2.623924,-0.828064,-2.384568,-3.548825,0.282596,-1.469972,0.430784,-0.937877,-2.089704
2866,40.0,3.0,5.0,51.0,0.0,Virginia,Virginia,8001024.0,8001045.0,8025787.0,...,1.360760,0.614199,0.346268,-2.197521,-2.849964,5.004781,4.923775,4.447050,2.315622,1.793779
3000,40.0,4.0,9.0,53.0,0.0,Washington,Washington,6724540.0,6724543.0,6743060.0,...,3.454740,1.941180,2.212454,3.964679,5.732807,6.412660,5.351692,5.671575,7.840731,9.653974
3040,40.0,3.0,5.0,54.0,0.0,West Virginia,West Virginia,1852994.0,1853011.0,1854225.0,...,0.563468,0.561000,-1.419148,-2.242191,-2.537316,1.112377,1.168345,-0.788296,-1.516045,-1.808887
3096,40.0,2.0,3.0,55.0,0.0,Wisconsin,Wisconsin,5686986.0,5687289.0,5690204.0,...,-1.088077,-1.665772,-1.328675,-1.641820,-2.700254,-0.057895,-0.510312,-0.070444,-0.164130,-1.213969
3169,40.0,4.0,8.0,56.0,0.0,Wyoming,Wyoming,563626.0,563767.0,564516.0,...,-0.381530,9.636214,4.487115,-4.788275,-3.221091,0.289680,10.694870,5.440390,-3.727831,-2.091573

In [57]:
def answer_five():
    countyNum = {}
    county_df = census_df[census_df['SUMLEV'] == 50]
    for state in county_df['STNAME'].unique():
        countyNum[state] = np.sum(county_df[county_df['STNAME'] == state].dropna()['COUNTY'])
    countyNum = pd.Series(countyNum)
    return countyNum.where(countyNum == np.max(countyNum)).dropna().index
answer_five()

Index(['Texas'], dtype='object')

In [60]:
countyNum = {}
county_df = census_df[census_df['SUMLEV'] == 50]
for group, frame in county_df.groupby('STNAME'):
    countySum = np.sum(frame['COUNTY'])
    countyNum[group] = countySum
countyNum

{'Alabama': 4489,
 'Alaska': 4340,
 'Arizona': 208,
 'Arkansas': 5625,
 'California': 3364,
 'Colorado': 3983,
 'Connecticut': 64,
 'Delaware': 9,
 'District of Columbia': 1,
 'Florida': 4550,
 'Georgia': 25677,
 'Hawaii': 25,
 'Idaho': 1936,
 'Illinois': 10404,
 'Indiana': 8464,
 'Iowa': 9801,
 'Kansas': 11025,
 'Kentucky': 14400,
 'Louisiana': 4096,
 'Maine': 256,
 'Maryland': 1079,
 'Massachusetts': 196,
 'Michigan': 6889,
 'Minnesota': 7569,
 'Mississippi': 6724,
 'Missouri': 13537,
 'Montana': 3136,
 'Nebraska': 8649,
 'Nevada': 774,
 'New Hampshire': 100,
 'New Jersey': 441,
 'New Mexico': 995,
 'New York': 3844,
 'North Carolina': 10000,
 'North Dakota': 2809,
 'Ohio': 7744,
 'Oklahoma': 5929,
 'Oregon': 1296,
 'Pennsylvania': 4489,
 'Rhode Island': 25,
 'South Carolina': 2116,
 'South Dakota': 4485,
 'Tennessee': 9025,
 'Texas': 64516,
 'Utah': 841,
 'Vermont': 196,
 'Virginia': 35111,
 'Washington': 1521,
 'West Virginia': 3025,
 'Wisconsin': 5119,
 'Wyoming': 529}

In [64]:
county_df = census_df[census_df['SUMLEV'] == 50]
countyNum = county_df.set_index('STNAME').groupby(level = 0)['COUNTY'].agg({'COUNTY': np.sum})

C:\Users\xuteng\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

In [66]:
countyNum[countyNum['COUNTY'] == np.max(countyNum['COUNTY'])].index

Index(['Texas'], dtype='object', name='STNAME')

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)?

*This function should return a list of string values.*

In [67]:
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [3]:
def answer_six():
    counties_df = census_df[census_df['SUMLEV'] == 50]
    top_counties_df = counties_df.sort_values(by=['STNAME','CENSUS2010POP'],ascending=False).groupby('STNAME').head(3)
    ans = top_counties_df.groupby('STNAME').sum().sort_values(by='CENSUS2010POP').head(3).index.tolist()
    return ans
answer_six()

['Wyoming', 'Vermont', 'North Dakota']

### Question 7
Which county has had the largest change in population within the five year period (hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all five columns)?

*This function should return a single string value.*

In [6]:
def answer_seven():
    counties_df = census_df[census_df['SUMLEV'] == 50]
    counties_df['changePop'] = abs(counties_df['POPESTIMATE2011'] - counties_df['POPESTIMATE2010']) + abs(counties_df['POPESTIMATE2012'] - counties_df['POPESTIMATE2011']) + abs(counties_df['POPESTIMATE2013'] - counties_df['POPESTIMATE2012']) + abs(counties_df['POPESTIMATE2014'] - counties_df['POPESTIMATE2013']) + abs(counties_df['POPESTIMATE2015'] - counties_df['POPESTIMATE2014'])
    return counties_df.sort_values(by = 'changePop', ascending = False)

C:\Users\xuteng\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,changePop
2667,50,3,7,48,201,Texas,Harris County,4092459,4093076,4108187,...,3.518819,4.820913,5.243613,3.794291,7.154417,8.915715,10.683269,11.850629,10.303814,429841
209,50,4,9,6,37,California,Los Angeles County,9818605,9818700,9826009,...,-4.071266,-4.332318,-5.394299,-6.027694,-0.007808,0.377510,0.578049,0.215038,-0.437481,344283
106,50,4,8,4,13,Arizona,Maricopa County,3817117,3817357,3825597,...,9.232973,7.879873,8.318210,9.123309,4.726436,11.527593,10.390177,11.203958,11.985998,342350
227,50,4,9,6,73,California,San Diego County,3095313,3095308,3104386,...,0.235513,-0.246567,0.657077,-2.855045,4.382515,5.773072,4.745940,5.921091,2.770965,195135
372,50,3,5,12,86,Florida,Miami-Dade County,2496435,2498017,2508171,...,-6.908149,-8.130040,-10.464276,-12.205475,23.110902,6.891198,6.633403,6.087936,4.154777,184946

In [8]:
a = answer_seven()
a[0]['COUNTY']

C:\Users\xuteng\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: 0

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [106]:
def answer_eight():

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County