In [17]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Date and Time Data Types and Tools

In [19]:
from datetime import datetime

In [20]:
now = datetime.now()
now

datetime.datetime(2019, 5, 3, 20, 15, 12, 228000)

In [21]:
now.year, now.month, now.day

(2019, 5, 3)

In [22]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(926, 56700)

In [10]:
delta.days
delta.seconds

926

56700

In [11]:
from datetime import timedelta

In [12]:
start = datetime(2011, 1, 7)

In [13]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

|type|decription|
|--|--|
|date|calendar date(year, month, day)|
|time|time of day(hours, minuts, seconds, microsecends)|
|datetime|date and time|
|timedelta|the difference between two datetime values|
|tzinfo|time zone infomation|

### Converting between string and datetime

In [15]:
stamp = datetime(2011, 1, 3)
# format datetime object as strings
str(stamp)
# strftime(format[, t])  f means format
stamp.strftime('%Y-%m-%d')

'2011-01-03 00:00:00'

'2011-01-03'

In [16]:
value = '2011-01-03'
# convert string to date, Parse a string representing a time according to a format
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [18]:
from dateutil.parser import parse

In [19]:
# module dateutil can parse most huaman-intelligible date
parse('2011-01-03')
parse('Jan 31, 1997 10:45 pm')
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 1, 3, 0, 0)

datetime.datetime(1997, 1, 31, 22, 45)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
# convert str date time list to pandas' DatetimeIndex
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None])
idx
# NaT(not a time) is a pandas' null value
idx[2]
pd.isnull(idx)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

NaT

array([False, False,  True], dtype=bool)

## Time Series Basics

In [22]:
# A basic kind of time series object in pandas is a Series indexed by timestamps
from datetime import datetime

In [23]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts
# DatetimeIndex
ts.index

2011-01-02   -0.636198
2011-01-05   -1.990781
2011-01-07   -0.153363
2011-01-08    0.394546
2011-01-10    0.605104
2011-01-12    1.762610
dtype: float64

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [24]:
# arithmetic operation align on DatetimeIndex
ts + ts[::2]

2011-01-02   -1.272397
2011-01-05         NaN
2011-01-07   -0.306726
2011-01-08         NaN
2011-01-10    1.210207
2011-01-12         NaN
dtype: float64

In [25]:
# pandas' time index's type is numpy's datetime64
ts.index.dtype

dtype('<M8[ns]')

In [26]:
# scalar value is pandas' Timestamp object
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

### indexing, selection, subsetting

In [27]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts
stamp = ts.index[2]
stamp
ts[stamp]
ts['2011-01-07']
ts['1/7/2011']
ts['20110107']

2011-01-02   -0.636198
2011-01-05   -1.990781
2011-01-07   -0.153363
2011-01-08    0.394546
2011-01-10    0.605104
2011-01-12    1.762610
dtype: float64

Timestamp('2011-01-07 00:00:00')

-0.15336308359875558

-0.15336308359875558

-0.15336308359875558

-0.15336308359875558

In [28]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head()

2000-01-01    0.419806
2000-01-02   -1.142035
2000-01-03   -0.843512
2000-01-04    0.013755
2000-01-05   -1.262680
Freq: D, dtype: float64

In [50]:
# select a year
longer_ts['2001']
# select a month
longer_ts['2001-05']
# slicing 
longer_ts[datetime(2002, 7, 19):]

2001-01-01    1.132280
2001-01-02    1.616534
2001-01-03    0.238939
2001-01-04   -0.846255
2001-01-05   -0.493653
2001-01-06   -0.935723
2001-01-07    0.075246
2001-01-08   -0.718787
2001-01-09    1.305861
2001-01-10    0.117653
2001-01-11    0.316673
2001-01-12    0.170302
2001-01-13    0.461905
2001-01-14    1.779668
2001-01-15    0.570018
2001-01-16   -1.725545
2001-01-17    1.324697
2001-01-18   -0.919959
2001-01-19    0.454638
2001-01-20   -2.809590
2001-01-21    0.341001
2001-01-22    0.118003
2001-01-23   -1.207617
2001-01-24   -2.299181
2001-01-25   -0.605549
2001-01-26    0.162821
2001-01-27    1.210005
2001-01-28   -1.056788
2001-01-29   -0.227023
2001-01-30   -0.530180
                ...
2001-12-02   -0.269181
2001-12-03    0.410421
2001-12-04   -0.413535
2001-12-05    0.147808
2001-12-06   -0.507045
2001-12-07    0.178720
2001-12-08   -0.226953
2001-12-09   -0.603081
2001-12-10    0.449518
2001-12-11   -0.623246
2001-12-12   -0.652985
2001-12-13    1.714032
2001-12-14    1.144406
2001-12-15   -0.405901
2001-12-16    0.306052
2001-12-17    1.084318
2001-12-18    0.812983
2001-12-19   -0.472467
2001-12-20   -0.544983
2001-12-21    0.318086
2001-12-22   -1.279003
2001-12-23   -0.591161
2001-12-24   -1.413744
2001-12-25   -2.842521
2001-12-26    1.051270
2001-12-27   -0.244787
2001-12-28    1.341099
2001-12-29   -0.939265
2001-12-30   -1.206115
2001-12-31    1.563415
Freq: D, Length: 365, dtype: float64

2001-05-01   -0.652459
2001-05-02   -0.424458
2001-05-03   -1.195936
2001-05-04    0.689434
2001-05-05    0.345954
2001-05-06   -1.202856
2001-05-07    0.258483
2001-05-08   -0.295517
2001-05-09   -1.911015
2001-05-10    1.843871
2001-05-11   -1.437964
2001-05-12   -0.962467
2001-05-13   -1.186625
2001-05-14    0.531626
2001-05-15   -1.301176
2001-05-16   -0.333244
2001-05-17    0.104631
2001-05-18   -0.385550
2001-05-19   -0.054668
2001-05-20   -0.796774
2001-05-21   -0.420848
2001-05-22   -0.329525
2001-05-23   -0.668121
2001-05-24   -0.193290
2001-05-25   -1.340591
2001-05-26    1.668912
2001-05-27    1.359294
2001-05-28   -1.047184
2001-05-29   -0.828000
2001-05-30   -0.378911
2001-05-31    0.391011
Freq: D, dtype: float64

2002-07-19    0.219133
2002-07-20   -0.356034
2002-07-21   -0.214603
2002-07-22   -0.503668
2002-07-23    1.721016
2002-07-24    0.772344
2002-07-25    0.129846
2002-07-26   -1.280131
2002-07-27   -0.753273
2002-07-28   -2.018369
2002-07-29    0.613509
2002-07-30    0.181213
2002-07-31    0.228002
2002-08-01    0.611308
2002-08-02    0.920049
2002-08-03   -0.695958
2002-08-04    1.034984
2002-08-05   -0.517271
2002-08-06   -1.629697
2002-08-07    0.937523
2002-08-08    1.227627
2002-08-09    0.255576
2002-08-10    0.593634
2002-08-11   -0.780927
2002-08-12   -1.139013
2002-08-13    1.452633
2002-08-14   -0.782501
2002-08-15   -0.871775
2002-08-16   -2.513702
2002-08-17    0.196369
                ...
2002-08-28   -0.545323
2002-08-29   -0.346174
2002-08-30    0.370905
2002-08-31    0.177642
2002-09-01    0.348007
2002-09-02   -0.711927
2002-09-03    0.301054
2002-09-04   -0.622514
2002-09-05   -0.279795
2002-09-06    0.903764
2002-09-07    0.024619
2002-09-08   -0.729657
2002-09-09   -0.329514
2002-09-10   -2.095647
2002-09-11   -0.331538
2002-09-12   -0.328271
2002-09-13    0.009315
2002-09-14   -0.160135
2002-09-15   -0.803556
2002-09-16   -2.544285
2002-09-17    0.248622
2002-09-18   -0.362949
2002-09-19   -0.171929
2002-09-20    1.242258
2002-09-21    0.726633
2002-09-22   -0.779507
2002-09-23    0.424792
2002-09-24    0.236941
2002-09-25   -0.066183
2002-09-26   -1.159275
Freq: D, Length: 70, dtype: float64

In [29]:
ts
# modifications on the slice will be reflected in the original data
ts['1/6/2011':'1/11/2011']

2011-01-02   -0.636198
2011-01-05   -1.990781
2011-01-07   -0.153363
2011-01-08    0.394546
2011-01-10    0.605104
2011-01-12    1.762610
dtype: float64

2011-01-07   -0.153363
2011-01-08    0.394546
2011-01-10    0.605104
dtype: float64

In [30]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.636198
2011-01-05   -1.990781
2011-01-07   -0.153363
2011-01-08    0.394546
dtype: float64

In [55]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates, columns=['colorado', 'texas', 'new york', 'ohio'])
long_df.head()
long_df.loc['5-2001']

            colorado     texas  new york      ohio
2000-01-05 -0.978718  0.128888  0.884635 -0.677960
2000-01-12 -0.449519  2.892405  1.349214  0.633858
2000-01-19 -0.122124  1.805167 -0.470353  0.455298
2000-01-26 -0.141644  0.238406  0.405911 -0.950510
2000-02-02 -0.982767  1.386012 -0.903118 -0.820890

            colorado     texas  new york      ohio
2001-05-02 -1.054510 -0.191612  0.192283  1.529795
2001-05-09  1.506640  2.920952 -0.765952  0.749795
2001-05-16 -0.155363 -0.072196 -3.105650 -1.056222
2001-05-23 -1.420693 -0.189488  0.456168 -0.159575
2001-05-30  0.690686 -1.782327  0.879233  0.265992

### Time series with duplicate indices

In [25]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [26]:
dup_ts.index.is_unique
dup_ts['1/3/2000']
dup_ts['1/2/2000']

False

4

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [27]:
grouped = dup_ts.groupby(level=0)
grouped.mean()
# dup_ts.groupby(by=dup_ts.index).mean()
grouped.count()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Date ranges, frequencies and shifting

In [59]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

# resample ???
# 'D' means daily
resampler = ts.resample('D')
resampler

2011-01-02    0.327159
2011-01-05    1.383178
2011-01-07   -1.331752
2011-01-08   -0.301230
2011-01-10    0.309143
2011-01-12    1.352967
dtype: float64

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

### Generating date ranges

In [60]:
# also works with format like '2012-04-01'
index = pd.date_range('20120401', '20120601')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [61]:
pd.date_range(start='2012-04-01', periods=20)
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [62]:
# generate weekly dates in the third week of the month
pd.date_range('20000101', '20001201', freq='WOM-3FRI')

DatetimeIndex(['2000-01-21', '2000-02-18', '2000-03-17', '2000-04-21',
               '2000-05-19', '2000-06-16', '2000-07-21', '2000-08-18',
               '2000-09-15', '2000-10-20', '2000-11-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [63]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [65]:
# gerenate a set of timestamps normalized to midnight
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequencies and date offsets

In [4]:
from pandas.tseries.offsets import Hour, Minute

In [5]:
# Hour class, use as the date offset
hour = Hour()
hour

In [6]:
four_hours = Hour(4)
four_hours

In [7]:
# 4h, 4 hours offsets
pd.date_range('20000101', '20000103 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [8]:
# offsets can be combined together
Hour(2) + Minute(30)

In [9]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### Week of month dates

In [12]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3WED')
rng
list(rng)

DatetimeIndex(['2012-01-18', '2012-02-15', '2012-03-21', '2012-04-18',
               '2012-05-16', '2012-06-20', '2012-07-18', '2012-08-15'],
              dtype='datetime64[ns]', freq='WOM-3WED')

[Timestamp('2012-01-18 00:00:00', freq='WOM-3WED'),
 Timestamp('2012-02-15 00:00:00', freq='WOM-3WED'),
 Timestamp('2012-03-21 00:00:00', freq='WOM-3WED'),
 Timestamp('2012-04-18 00:00:00', freq='WOM-3WED'),
 Timestamp('2012-05-16 00:00:00', freq='WOM-3WED'),
 Timestamp('2012-06-20 00:00:00', freq='WOM-3WED'),
 Timestamp('2012-07-18 00:00:00', freq='WOM-3WED'),
 Timestamp('2012-08-15 00:00:00', freq='WOM-3WED')]

### Shifting (leading and lagging) data

In [13]:
# shift: move data backward or forward leaving the index unmodified
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='m'))
ts

2000-01-31    0.120840
2000-02-29    1.576795
2000-03-31   -0.188765
2000-04-30   -0.786336
Freq: M, dtype: float64

In [17]:
ts.shift(2)
ts.shift(-2)
# compute percent change
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.120840
2000-04-30    1.576795
Freq: M, dtype: float64

2000-01-31   -0.188765
2000-02-29   -0.786336
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

2000-01-31          NaN
2000-02-29    12.048648
2000-03-31    -1.119714
2000-04-30     3.165685
Freq: M, dtype: float64

In [18]:
# shift the timestamps instead of data
ts.shift(2, freq='m')

2000-03-31    0.120840
2000-04-30    1.576795
2000-05-31   -0.188765
2000-06-30   -0.786336
Freq: M, dtype: float64

In [19]:
ts.shift(3, freq='D')
# T stands for minutes
ts.shift(1, freq='90T')

2000-02-03    0.120840
2000-03-03    1.576795
2000-04-03   -0.188765
2000-05-03   -0.786336
dtype: float64

2000-01-31 01:30:00    0.120840
2000-02-29 01:30:00    1.576795
2000-03-31 01:30:00   -0.188765
2000-04-30 01:30:00   -0.786336
Freq: M, dtype: float64

#### shifting dats with offsets

In [20]:
from pandas.tseries.offsets import Day, MonthEnd

In [21]:
now = datetime(2011, 11, 17)
now + 2 * Day()

Timestamp('2011-11-19 00:00:00')

In [22]:
now + MonthEnd()
now + MonthEnd(2)

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-12-31 00:00:00')

In [26]:
offset = MonthEnd()
offset
offset.rollforward(now)
offset.rollback(now)
MonthEnd().rollback(now)

Timestamp('2011-11-30 00:00:00')

Timestamp('2011-10-31 00:00:00')

Timestamp('2011-10-31 00:00:00')

In [27]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts
ts.groupby(offset.rollforward).mean()

2000-01-15    0.850466
2000-01-19    1.360819
2000-01-23    0.466623
2000-01-27    0.410698
2000-01-31    0.813904
2000-02-04    2.008877
2000-02-08    0.445127
2000-02-12   -0.338384
2000-02-16   -0.092765
2000-02-20   -1.456830
2000-02-24    0.596270
2000-02-28    0.296396
2000-03-03   -1.261573
2000-03-07    1.011645
2000-03-11    0.996229
2000-03-15    1.250145
2000-03-19   -0.111767
2000-03-23   -0.412738
2000-03-27   -0.846005
2000-03-31    0.439047
Freq: 4D, dtype: float64

2000-01-31    0.780502
2000-02-29    0.208384
2000-03-31    0.133123
dtype: float64

In [28]:
ts.resample('M').mean()

2000-01-31    0.780502
2000-02-29    0.208384
2000-03-31    0.133123
Freq: M, dtype: float64

## Time zone handling

In [3]:
# time zones are offsets from UTC (coordinated universal time)
# third party library pytz comtains time zone information
# DST (daylight saving time) 夏令时
# GMT (Greenwich Mean Time) 格林尼治标准时间
# LMT (local mean time) 
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [8]:
tz = pytz.timezone('America/New_York')
tz

### Time zone localization and conversion

In [10]:
rng = pd.date_range('3/3/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-03 09:30:00   -1.683279
2012-03-04 09:30:00   -0.565769
2012-03-05 09:30:00   -0.248765
2012-03-06 09:30:00   -0.810142
2012-03-07 09:30:00    1.008048
2012-03-08 09:30:00   -1.875532
Freq: D, dtype: float64

In [12]:
# time index's time zone is None
print(ts.index.tz)

None

In [13]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [15]:
ts
# localize a time series with a specific time zone
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.index

2012-03-03 09:30:00   -1.683279
2012-03-04 09:30:00   -0.565769
2012-03-05 09:30:00   -0.248765
2012-03-06 09:30:00   -0.810142
2012-03-07 09:30:00    1.008048
2012-03-08 09:30:00   -1.875532
Freq: D, dtype: float64

2012-03-03 09:30:00+00:00   -1.683279
2012-03-04 09:30:00+00:00   -0.565769
2012-03-05 09:30:00+00:00   -0.248765
2012-03-06 09:30:00+00:00   -0.810142
2012-03-07 09:30:00+00:00    1.008048
2012-03-08 09:30:00+00:00   -1.875532
Freq: D, dtype: float64

DatetimeIndex(['2012-03-03 09:30:00+00:00', '2012-03-04 09:30:00+00:00',
               '2012-03-05 09:30:00+00:00', '2012-03-06 09:30:00+00:00',
               '2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [16]:
# convert a localized time series to a specific time zone
ts_utc.tz_convert('America/New_York')

2012-03-03 04:30:00-05:00   -1.683279
2012-03-04 04:30:00-05:00   -0.565769
2012-03-05 04:30:00-05:00   -0.248765
2012-03-06 04:30:00-05:00   -0.810142
2012-03-07 04:30:00-05:00    1.008048
2012-03-08 04:30:00-05:00   -1.875532
Freq: D, dtype: float64

In [34]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern
ts_eastern.tz_convert('UTC')
ts_eastern.tz_convert('Europe/Berlin')

2012-03-03 09:30:00-05:00   -1.683279
2012-03-04 09:30:00-05:00   -0.565769
2012-03-05 09:30:00-05:00   -0.248765
2012-03-06 09:30:00-05:00   -0.810142
2012-03-07 09:30:00-05:00    1.008048
2012-03-08 09:30:00-05:00   -1.875532
Freq: D, dtype: float64

2012-03-03 14:30:00+00:00   -1.683279
2012-03-04 14:30:00+00:00   -0.565769
2012-03-05 14:30:00+00:00   -0.248765
2012-03-06 14:30:00+00:00   -0.810142
2012-03-07 14:30:00+00:00    1.008048
2012-03-08 14:30:00+00:00   -1.875532
Freq: D, dtype: float64

2012-03-03 15:30:00+01:00   -1.683279
2012-03-04 15:30:00+01:00   -0.565769
2012-03-05 15:30:00+01:00   -0.248765
2012-03-06 15:30:00+01:00   -0.810142
2012-03-07 15:30:00+01:00    1.008048
2012-03-08 15:30:00+01:00   -1.875532
Freq: D, dtype: float64

In [35]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-03 09:30:00+08:00', '2012-03-04 09:30:00+08:00',
               '2012-03-05 09:30:00+08:00', '2012-03-06 09:30:00+08:00',
               '2012-03-07 09:30:00+08:00', '2012-03-08 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### Operations with time zone-aware timestamp objects

In [37]:
# individual Timestamp objects
stamp = pd.Timestamp('2011-03-12 04:00')
stamp
stamp_utc = stamp.tz_localize('utc')
stamp_utc
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-12 04:00:00')

Timestamp('2011-03-12 04:00:00+0000', tz='UTC')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [38]:
# pass a time zone
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [39]:
# Timestamp objects internally store a UTC timestamp value as nano‐seconds since the Unix epoch (January 1, 1970), it's invariant
stamp_utc.value
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

1299902400000000000

In [40]:
from pandas.tseries.offsets import Hour
# 30 mins before transitioning to DST(夏令时)
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp
stamp + Hour()

# 90 mins before transitioning out of DST
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp + 2 * Hour()

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operations between different time zones

In [51]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
# no time zone
print(ts.index.tz)

2012-03-07 09:30:00    1.030857
2012-03-08 09:30:00    0.088233
2012-03-09 09:30:00    0.636656
2012-03-12 09:30:00   -2.374602
2012-03-13 09:30:00    0.624145
2012-03-14 09:30:00    1.155215
2012-03-15 09:30:00    0.033787
2012-03-16 09:30:00   -0.027701
2012-03-19 09:30:00    1.302209
2012-03-20 09:30:00   -0.672711
Freq: B, dtype: float64

None

In [45]:
# localized with different tz, can be added together with time index
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts[2:].tz_localize('Europe/Moscow')
ts1
ts2
result = ts1 + ts2
result
result.index

2012-03-07 09:30:00+00:00   -1.970196
2012-03-08 09:30:00+00:00   -0.507340
2012-03-09 09:30:00+00:00   -0.818781
2012-03-12 09:30:00+00:00    1.395477
2012-03-13 09:30:00+00:00   -0.465368
2012-03-14 09:30:00+00:00    0.431794
2012-03-15 09:30:00+00:00   -0.525984
Freq: B, dtype: float64

2012-03-09 09:30:00+04:00   -0.818781
2012-03-12 09:30:00+04:00    1.395477
2012-03-13 09:30:00+04:00   -0.465368
2012-03-14 09:30:00+04:00    0.431794
2012-03-15 09:30:00+04:00   -0.525984
2012-03-16 09:30:00+04:00   -0.145181
2012-03-19 09:30:00+04:00    0.220173
2012-03-20 09:30:00+04:00    0.558729
Freq: B, dtype: float64

2012-03-07 09:30:00+00:00   NaN
2012-03-08 09:30:00+00:00   NaN
2012-03-09 05:30:00+00:00   NaN
2012-03-09 09:30:00+00:00   NaN
2012-03-12 05:30:00+00:00   NaN
2012-03-12 09:30:00+00:00   NaN
2012-03-13 05:30:00+00:00   NaN
2012-03-13 09:30:00+00:00   NaN
2012-03-14 05:30:00+00:00   NaN
2012-03-14 09:30:00+00:00   NaN
2012-03-15 05:30:00+00:00   NaN
2012-03-15 09:30:00+00:00   NaN
2012-03-16 05:30:00+00:00   NaN
2012-03-19 05:30:00+00:00   NaN
2012-03-20 05:30:00+00:00   NaN
dtype: float64

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 05:30:00+00:00', '2012-03-09 09:30:00+00:00',
               '2012-03-12 05:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 05:30:00+00:00', '2012-03-13 09:30:00+00:00',
               '2012-03-14 05:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 05:30:00+00:00', '2012-03-15 09:30:00+00:00',
               '2012-03-16 05:30:00+00:00', '2012-03-19 05:30:00+00:00',
               '2012-03-20 05:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## Periods and period arithmetic

In [52]:
# Period class is time period such as day month year etc.
p = pd.Period(2007, freq='A-DEC')
# a whole year period
p

Period('2007', 'A-DEC')

In [53]:
p + 5
p - 2
pd.Period('2015', freq='A-DEC') - p

Period('2012', 'A-DEC')

Period('2005', 'A-DEC')

8

In [55]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng
pd.Series(np.random.randn(6), index=rng)

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

2000-01   -1.117992
2000-02    1.474556
2000-03   -0.256452
2000-04    0.395216
2000-05    1.736216
2000-06    0.029194
Freq: M, dtype: float64

In [56]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

### Priod frequency conversion

In [57]:
p = pd.Period('2001', freq='A-DEC')
p
p.asfreq('M', how='start')
p.asfreq('M', how='end')

Period('2001', 'A-DEC')

Period('2001-01', 'M')

Period('2001-12', 'M')

In [58]:
p = pd.Period('2007', freq='A-JAN')
p
p.asfreq('M', 'start')
p.asfreq('M', 'end')

Period('2007', 'A-JAN')

Period('2006-02', 'M')

Period('2007-01', 'M')

In [60]:
p = pd.Period('Aug-2007', 'M')
p
p.asfreq('A-JUN')

Period('2007-08', 'M')

Period('2008', 'A-JUN')

In [62]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.asfreq('M', how='start')
ts.asfreq('B', how='end')

2006    0.372066
2007    1.412757
2008    0.160609
2009    0.284158
Freq: A-DEC, dtype: float64

2006-01    0.372066
2007-01    1.412757
2008-01    0.160609
2009-01    0.284158
Freq: M, dtype: float64

2006-12-29    0.372066
2007-12-31    1.412757
2008-12-31    0.160609
2009-12-31    0.284158
Freq: B, dtype: float64

### Quarterly period frequencies

### Converting timestamps to periods (and back)

### Creating a periodindex from arrays

## Resampling and Frequency Conversion

In [65]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(100), index=rng)
ts

2000-01-01   -1.388512
2000-01-02    0.122830
2000-01-03   -0.135446
2000-01-04    0.972692
2000-01-05   -0.778864
2000-01-06    0.770444
2000-01-07   -0.741907
2000-01-08    0.153011
2000-01-09   -0.088618
2000-01-10   -0.002296
2000-01-11   -1.767910
2000-01-12   -0.440404
2000-01-13    0.245146
2000-01-14    0.930126
2000-01-15   -0.801234
2000-01-16    0.233354
2000-01-17   -0.229450
2000-01-18   -1.549850
2000-01-19   -0.321672
2000-01-20   -0.981808
2000-01-21    1.572921
2000-01-22    2.087462
2000-01-23    0.040892
2000-01-24    0.665801
2000-01-25    1.223363
2000-01-26   -1.005842
2000-01-27   -0.823911
2000-01-28   -1.609279
2000-01-29   -1.356245
2000-01-30   -0.525110
                ...
2000-03-11    0.548490
2000-03-12    0.754685
2000-03-13    0.185143
2000-03-14   -1.573005
2000-03-15   -0.012223
2000-03-16   -0.883241
2000-03-17    0.674663
2000-03-18    1.544581
2000-03-19    1.844811
2000-03-20   -0.224065
2000-03-21   -0.528425
2000-03-22    0.486261
2000-03-23    0.446606
2000-03-24    0.871749
2000-03-25   -1.201787
2000-03-26   -1.088402
2000-03-27   -1.049973
2000-03-28   -0.417389
2000-03-29    0.665984
2000-03-30    0.877634
2000-03-31   -1.294008
2000-04-01   -0.116923
2000-04-02    0.386966
2000-04-03   -0.820578
2000-04-04    1.464530
2000-04-05   -0.261050
2000-04-06    0.370556
2000-04-07   -0.978410
2000-04-08    0.289033
2000-04-09    0.484594
Freq: D, Length: 100, dtype: float64

In [68]:
ts.resample('M', kind='period').mean()

2000-01   -0.175378
2000-02    0.094057
2000-03    0.082057
2000-04    0.090969
Freq: M, dtype: float64

In [70]:
# help('pandas.DataFrame.resample')

### Downsampling

In [73]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts
# 一定时间长度内个数统计，确定边界、边界标签等
ts.resample('5min', closed='right').sum()
ts.resample('5min', closed='right', label='right').sum()
ts.resample('5min', closed='right', label='right', loffset='-1s').sum()

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [77]:
# ts.resample('5min', closed='right', label='right').sum().shift()

#### open-high-low-close(ohlc) resampling

In [78]:
# 开盘收盘最高最低价
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

### Upsampling and interpolation

In [79]:
frame = pd.DataFrame(np.random.randn(2, 4), index=pd.date_range('1/1/2000', periods=2, freq='W-WED'), columns=['colorado', 'texas', 'new yorl', 'ohio'])
frame

            colorado     texas  new yorl      ohio
2000-01-05  0.275082 -1.561442  0.345922  0.698634
2000-01-12 -0.263141 -1.359375  1.101505 -0.583476

In [80]:
# resample from a low frequency to a higher frequency
df_daily = frame.resample('D').asfreq()
df_daily

            colorado     texas  new yorl      ohio
2000-01-05  0.275082 -1.561442  0.345922  0.698634
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.263141 -1.359375  1.101505 -0.583476

In [81]:
# fill forward
frame.resample('D').ffill()
frame.resample('D').ffill(limit=2)

            colorado     texas  new yorl      ohio
2000-01-05  0.275082 -1.561442  0.345922  0.698634
2000-01-06  0.275082 -1.561442  0.345922  0.698634
2000-01-07  0.275082 -1.561442  0.345922  0.698634
2000-01-08  0.275082 -1.561442  0.345922  0.698634
2000-01-09  0.275082 -1.561442  0.345922  0.698634
2000-01-10  0.275082 -1.561442  0.345922  0.698634
2000-01-11  0.275082 -1.561442  0.345922  0.698634
2000-01-12 -0.263141 -1.359375  1.101505 -0.583476

            colorado     texas  new yorl      ohio
2000-01-05  0.275082 -1.561442  0.345922  0.698634
2000-01-06  0.275082 -1.561442  0.345922  0.698634
2000-01-07  0.275082 -1.561442  0.345922  0.698634
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.263141 -1.359375  1.101505 -0.583476

In [82]:
frame.resample('W-THU').ffill()

            colorado     texas  new yorl      ohio
2000-01-06  0.275082 -1.561442  0.345922  0.698634
2000-01-13 -0.263141 -1.359375  1.101505 -0.583476