In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [8]:
from pandas import Series, DataFrame
import numpy as np
import pandas as pd

## Series

In [4]:
# series 由一组数据与一组与之相关联的数据标签（索引）组成
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values
obj.index
obj.index = ['a', 'b', 'c', 'd'] # Series的索引可以通过赋值进行改变
obj

array([ 4,  7, -5,  3])

RangeIndex(start=0, stop=4, step=1)

a    4
b    7
c   -5
d    3
dtype: int64

In [6]:
obj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2
obj2.index

d    4
b    7
a   -5
c    3
dtype: int64

Index(['d', 'b', 'a', 'c'], dtype='object')

In [7]:
obj2['a']
obj2['b'] = 3
obj2
obj2[['a', 'b']]

-5

d    4
b    3
a   -5
c    3
dtype: int64

a   -5
b    3
dtype: int64

In [9]:
obj2[obj2 > 1]
obj2 * 2
np.exp(obj2)

d    4
b    3
c    3
dtype: int64

d     8
b     6
a   -10
c     6
dtype: int64

d    54.598150
b    20.085537
a     0.006738
c    20.085537
dtype: float64

In [10]:
'b' in obj2
'e' in obj2

True

False

In [11]:
sdata = {'ohio': 35000, 'texas': 71000, 'oregon': 16000, 'utah': 5000}
obj3 = Series(sdata)
obj3

ohio      35000
oregon    16000
texas     71000
utah       5000
dtype: int64

In [13]:
state = ['texas', 'ohio', 'utha', 'california']
obj4 = Series(sdata, index=state)
obj4

texas         71000.0
ohio          35000.0
utha              NaN
california        NaN
dtype: float64

In [14]:
pd.isnull(obj4)
pd.notnull(obj4) # 检测缺失值
obj4.isnull()

texas         False
ohio          False
utha           True
california     True
dtype: bool

texas          True
ohio           True
utha          False
california    False
dtype: bool

texas         False
ohio          False
utha           True
california     True
dtype: bool

In [15]:
obj3
obj4
obj3 + obj4 # Series数据在运算时能自动对齐索引

ohio      35000
oregon    16000
texas     71000
utah       5000
dtype: int64

texas         71000.0
ohio          35000.0
utha              NaN
california        NaN
dtype: float64

california         NaN
ohio           70000.0
oregon             NaN
texas         142000.0
utah               NaN
utha               NaN
dtype: float64